.card-header .accordion-toggle:after {
      /* symbol for "opening" panels */
      font-family: 'FontAwesome';
      content: "\f0d7";
      float: right;
      color: white;
}

.card-header .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f0da";
    color: black;
}



