/*@import url('https://fonts.googleapis.com/css?family=Raleway');*/

html,
body{
	font-family: sans-serif;
  /*font-family: 'Raleway', sans-serif;*/
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 140px;
}
.footer {
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 140px;
  background-color: red;
}
/* Sticky footer styles
-------------------------------------------------- */

/* Navbar
---------------------------------------------------*/
nav.navbar.navbar-default {
    background: white !important;
}
.img-navbar{
  width: 80px;
}
.navbar-default .navbar-nav>li>a{
  color:black;
  /*font-weight: bold;*/
}
.navbar{
  margin-bottom: 0px !important;
}
/*Alinear al centro*/
.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}
/*Alinear al centro*/
.img-banner-cover{
   background: url('http://localhost/Terniumweb/assets/img/banner1.jpg')no-repeat center center scroll; ;
    width: 100%;
    height: 400px;
}
.img-banner-cover h1{
  color: white;
}
.img-banner-cover .banner-interesado{
color:#D8D8D8;
}
.texto-rojo{
  color: red;
  font-weight: bold;
}
.texto-blanco{
  color:white;
}
.background-gray{
  background: #F1F1F1;
}
.col-md-4.text-center.background-gray p{
  color:#686868;
}
.col-md-4.text-center.background-gray {
    height: 340px;
    padding: 0px 40px 0px 40px;
}
.border-color-gray{
  border-left: 1px solid #b1b9c0;
  border-right: 1px solid #b1b9c0;
}
.col-md-4.text-center.background-gray h5{
  padding-top: 30px;
}
.sello-renium-section{
  background: #3C3A3A;
}
.background-brown-dark{
background: #3C3A3A;
}

.img-background-2{
  background: url('http://localhost/Terniumweb/assets/img/banner-caracteristicas-zintroalum.jpg')no-repeat center center scroll; ;
  height: 400px;
}
