html {
  position: relative;
  min-height: 100%;
  font-family:'Roboto', sans-serif;
}
h1,h2,h3{
  font-family: 'Raleway', sans-serif;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 150px;
}

a:hover,a:active,a:visited,a:focus,
a{color: white;}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  line-height: 30px; /* Vertically center the text there */
  background-color: #e93c27;
  color: white;
}
.background-red-zintroalum{
  background-color: #e93c27 !important;
}
.background-gray{
  background: #F1F1F1;
}
.texto-rojo{
  color: #E93C27; 
}
.texto-cafe-zintralum{
  color: #3C3A3A;
}

.texto-gris-zintralum{
  color: #64646A;
}
.texto-naraja-zintralum{
  color:#F8B41F;
}
.padding-top-80{
  padding-top: 20px;
}
.padding-40-zintroalum{
  padding: 40px;
}

.padding-bottom-60{
      padding-bottom: 60px;
}
.padding-40-bottom{
      padding-bottom: 40px;
}
.padding-top-60{
  padding-top: 60px;
}
.padding-30-top{
padding-top: 30px;
}
.padding-30-bottom{
padding-bottom: 30px;
}
.padding-10-bottom{
  padding-bottom: 10px;
}
.padding-20-bottom{
  padding-bottom: 20px;
}
.padding-20-top{
  padding-top: 20px;
}
.padding-left-40{
  padding-left: 40px;
}
.padding-right-40{
  padding-right: 40px;
}

.no-padding-left-right{
  padding-left: 0px;
  padding-right: 0px;
}
.texto-blanco{
  color:white;
}
.border-color-gray{
  border-left: 1px solid #b1b9c0;
  border-right: 1px solid #b1b9c0;
}
.background-brown{
  background: #3c3a3a;
}
.img-banner-inf-tecnica{
  background: url('../img/lamina-zintroalum-sello-ternium.jpg');
  background-repeat:no-repeat;
  background-size:cover;
}
.background-material-grandes-proyectos{
  background: url('../img/material-zintroalum.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  background-position: center;
  min-height: 400px !important;
}
.grandes-proyectos-section-zintroalum{
    min-height: 400px;
    background: #F8B41F;
}

.col-4.text-center.background-gray > h5 {
    padding-top: 25px;
}
.col-4.text-center.background-gray > p {
    padding-left: 50px;
    padding-right: 50px;
}
.espacio-texto-60-60{
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-informacion-tecnica{
 background: #3C3A3A;
}
.container-informacion-tecnica{
height: 670px;
}
.container-informacion-tecnica-movil{
height: 540px;
}

.section-caracteristicas-container{
  height: 100px;
}

.padding-top-25{
padding-top: 25%;
}

.section-car-overlap-slider{
  height: 85px;
}
.container-overlap-textslider{
  position: absolute;
    margin: 0 auto;
    /* margin-right: 50%; */
    bottom: 0px;
    left: 0;
    right: 0;
}
.carousel-indicators{
  bottom: 120px !important;
}
.sello-ternium-font-styles{
    font-size: 25px;
    font-weight: 200;
    letter-spacing: 1px;
}
.sello-ternium-bolder{
  font-weight: 600;
}
.font-bold-zintroalum{
  font-weight: bold;
}
.font-bolder-zintroalum{
  font-weight: bolder;
}
.border-white-bottom{
  border-bottom: 1px solid white;
}
.card {
    border-bottom: 1px solid white;
    border-radius: 0 !important;
    background: #f8b41f;
}
.card-header{
  background-color:#EBAB1E;
}
.background-orange-zintroalum{
  background: #F8B41F;
}
.texto-negro-claro-zintroalum{
  color: #E93C27;
}
.background-grisclaro-zintroalum{
  background: #f4f4f4;
}
.card-header-no-active{
  background-color: #f8b41f;
}
.card-header-active{
  background-color:#EBAB1E;
}
h5.mb-0 > a {
    color: #4A4A4A;
}
.tweets-section-container{
  height: 430px;
  /*overflow: scroll;*/
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.position-bottom-img{position: absolute;bottom: 1px;}
.tweets-p{
    padding-top: 10px;
    /*font-family: Roboto;*/
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    padding-bottom: 10px;
    padding-top: 10px;
}
.navbar-light .navbar-nav .nav-link{
  color: black !important;
  font-weight: bold;
  font-size: 15px;
}
.padding-navbar-center{
  padding-right: 11%;
  padding-left: 11%;
}
.text-shadow-black{
      text-shadow: 1px 2px rgba(0, 0, 0, 0.50);
}
.carousel-indicators li{
  /*background-color: rgb(248, 180, 31) !important;*/
  border-radius: 100% !important;
  max-width: 10px !important;
  height: 10px !important;
}

.carousel-item > img{
  width:100%;
}
/*.carousel-item{
  height: 750px !important;
}*/

.img-width-100{
  width: 100%;
}

.row-text-slider-container {
    position: absolute;
    z-index: 1;
    top: 200px;
    width: 100%;
    color: white;
}
.texto-gris-zintralum{
  color: #D8D8D8;
}

li.nav-item.active > a.nav-link {
    color: #F8B41F !important;
    font-weight: bold;
}

.naranja-72 {
  font-size: 4.5rem !important;
  font-family: "Raleway", Serif !important;  
  color: #f8b41f !important;
}

.naranja-57 {
  font-size: 3.4rem !important;
  font-family: "Raleway", Serif !important;  
  color: #f8b41f !important;
}

.rojo-24 {
  font-size: 1.5rem !important;
  font-family: "Raleway", Serif !important;  
  color: #E93C27 !important;
}
.rojo-24-movil {
  
  font-family: "Raleway", Serif !important;  
  color: #E93C27 !important;
}

.negro-24 {
  font-size: 1.5rem !important;
  font-family: "Raleway", Serif !important;  
}

.negro-20 {
  font-size: 1.3rem !important;
  font-family: "Raleway", Serif !important;  
}

.accordion-toggle:hover {
  text-decoration: none;
  font-weight: 600;
}

.accordion-toggle:focus {
  text-decoration: none;
  font-weight: 600;
}

.accordion-toggle {
  font-family: Raleway;
  font-size: 16px;
}

.zintro-alum-icon-rojo {
  margin-top: 6%;
}

.texto-interesado {
  color: #ffffff !important;
  font-family: Raleway !important;
  font-size: 20px !important;
  text-shadow: 2px 2px 3px #000;
}

.boton-contactanos {
  font-family: Raleway !important;
  font-size: 18px !important;
  font-weight: 200;
}

.texto-gris {
  color: #696969;
  /*font-family: Roboto;*/
  font-size: 16px;
}

.titulo-caracteristicas {
  font-family: Raleway;
  font-size: 20px;
}

.texto-recuerda-movil {
  font-family: Raleway;
  font-size: 25px;
}

.texto-recuerda {
  font-family: Raleway;
  font-size: 20px;
}

.grosor-100{
  font-weight: 100;  
}

.grosor-200{
  font-weight: 200;  
}

.grosor-400{
  font-weight: 400;  
}

.grosor-600{
  font-weight: 600;  
}

.grosor-800{
  font-weight: 800;  
}

.texto-sello-ternium {
  font-family: Raleway;
  font-size: 36px;
}
.texto-sello-ternium-movil{
  font-family: Raleway;
  font-size: 24px;
}

.texto-descargas {
  /*font-family: Roboto;*/
  font-size: 14px;
  font-weight: 300;
}

.texto-mejor-calidad {
  font-family: Raleway;
  font-size: 57px;
}
.texto-mejor-calidad_movil {
  font-family: Raleway;
  /*font-size: 57px;*/
}

.texto-comprobada {
  letter-spacing: 5px;
}

.tweetea {
  color: #646464;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 100;
}


.hashtag {
  color: #3c3a3a;
  font-size: 18px;
}

.texto-descarga-ringtone {
  letter-spacing: 2px;
  font-size: 28px;
}

.texto-ringtone {
  font-size: 18px;
  font-weight: 200;
  margin-top: -5px;
}

.texto-sonido-naranja {
  font-size: 15px;
  /*font-family: Roboto;*/
  color: #F8B41F;
  font-weight: 400;
}

.texto-sonido {
  font-size: 15px;
  /*font-family: Roboto;*/
  font-weight: 100;
}
.texto-reproduce:hover{
  color: #ffffff;

}
.texto-reproduce {
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
  padding-bottom: 50px;
}

.texto57 {
  font-size: 57px;
}

.texto30 {
  font-size: 30px;
}

.labels-contacto {
  color: #3c3a3a;
  font-family: Raleway;
  font-weight: 400;
}

.textos-footer {
  font-family: Raleway;
  font-size: 14px;
  font-weight: 100;
}

.separador {
  line-height: 0px;
}

.card-header .accordion-toggle:after {
      /* symbol for "opening" panels */
      content: url('../img/ico-down.png');
      float: right;
}

.card-header .accordion-toggle.collapsed:after {
    content: url('../img/ico-right.png');
}

.texto-slider71 {
  font-size: 71px;
  font-weight: 600;
}

.texto-slider44 {
  font-size: 44px;
  font-weight: 400;
}

.boton-twitter {
  /*font-family: Roboto;*/
  font-size: 14px;
  font-weight: 200;
}

.texto-siguenos {
  color: #3c3a3a;
  /*font-family: Roboto;*/
  font-size: 16px;
  font-weight: 400;
}

.texto-user-twetter {
  color: #E93C27;
  font-style: italic;
  font-weight: 200; 
}
.custom-height-section{
      height: 500px !important;
}
.custom-height-section-movil{
      height: 610px !important;
}
.custom-space-120{
    height: 120px;
  }
/*
Media querys --------------------*/
@media (max-width: 991px) { 
  .texto-sello-ternium{
    font-size: 20px;
  }
  .texto-recuerda{
    font-size: 15px;
  }
  .footer{
    height: 150px !important;
  }
  h1.naranja-72{
    font-size: 3.5rem !important;
  }
  h2.naranja-57{
    font-size: 2.4rem !important;
  }
  .negro-24{
    font-size: 16px !important;
  }
  div#tips-zintroalum{
    min-height: 700px;
  }
  .row.section-car-overlap-slider{
        height: 120px;
  }
  
  .titulo-caracteristicas{
    font-size: 16px;
  }
  .section-car-overlap-slider{
    margin-bottom: -1px;
  }
  .texto-descarga-ringtone{
    font-size: 22px;
  }
  .texto-ringtone{
        font-size: 16px;
  }
  
  .container-informacion-tecnica{
        height: 880px; 
  }

  .info-tecnica-espacio{
    padding-top: 50px;
  }

  .zintro-alum-icon-rojo{
    margin-top: 15%;
    width: 250px;
  }
  .ico-youtube{
    width: 50px;
  }
  .texto30{
	     font-size: 20px;
  }
  .texto57{
	  font-size: 47px;
  }
  
  .set-height-tips{
    height: 840px;
  }
  h1.text-center.texto-rojo.texto-mejor-calidad{
    font-size: 34px;
  }
  h1.text-center.texto-naraja-zintralum.texto-mejor-calidad.texto-comprobada{
    font-size: 34px;
  }

  .body 
  {
    margin-bottom: 150px !important;
  }
  .custom-space-100{
    padding-bottom: 100px !important;
  }
  .carousel-item {
    height: 300px !important;
  }
  /*.carousel-indicators {
    bottom: 10px !important;
  }*/
  .custom-space-120{
    height: 70px;
  }
  .tweetea {
  font-size: 16px;
  }
/*pruebas*/
.section-caracteristicas-container{
  height: auto;
}
/*pruebas*/
  .texto-siguenos{
    font-size: 12px;
  }
  .tweets-section-container{
    height: 500px;
  }
  div#carouselExampleIndicators{
        padding-top: 10%;
  }
  .padding-navbar-center{
    padding-right: 10px;
    padding-left: 10px;
  }
}

.carousel-inner .carousel-item{ 
   height:720px; 
   background-size:cover;
   background-position: center center;
}

.carousel-caption { 
   bottom: 120px;
   left: 14%;
   text-align: left;
}

.margin-top-6 {
  margin-top: 6%;
}

.carousel-control-next-icon {
     background-image: url('../img/ico-next.png');
}

.carousel-control-prev-icon{
   background-image: url('../img/ico-prev.png');
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: block !important;
}

.fill{width: 100%;height: 100%;}